body{
   
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
main{
    max-width: 850px;
    margin-top: 90px;
    margin-left: 180px;
    margin-right: 180px;
    padding-left: 20px;
    padding-right: 20px;
}
.header-section{ 
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(19, 25, 33);
    color: white;
    gap:10px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.left-section{
    width: 180px;
}
.amazon-logo-white{
    margin-top: 10px;
    padding: 7px; 
    width: 100px;
}
.mid-section{
    display: flex;
    align-items: center;
}
.search-box{
    width: 780px;
    height: 39px;
    padding-left: 20px;
    font-size: 15px;
    border:1px white;
    border-bottom-left-radius:5px ;
    border-top-left-radius:5px ;
}
.search-button {
    background-color: rgb(254, 189, 105);
    border: none;
    width: 45px;
    height: 39px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-shrink: 0;
}
.search-icon{
    height: 22px;
    margin-left: 3px;
    margin-top: 2px;
}
.right-section{
    display: flex;
    flex-shrink: 0;
    width: 180px;
    justify-content: end;
}
.return-and-order{
    padding: 6px;
}
.returns-text{
    font-size: 13px;
}
.orders-text{
    font-size: 15px;
    font-weight: 700;
}
.cart-section{
    position: relative;
    display: flex;
    padding: 6px;
    text-decoration: none;
}
.cart-icon{
    height: 35px;
}
.cart-count{
    color: rgb(240, 136, 4);
    position: absolute;
    top:5px;
    left: 31px;
    font-size: 16px;
    font-weight: 600;
}
.cart-text{
    margin-top:15px;
    font-weight: 600;
    color: white;
}

.order-grid{
    display: grid;
    
}
.order-details{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: rgb(240, 242, 242);
    border: 1px solid rgb(213, 217, 217);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.order-details-left-section{
    display: flex;
    flex-shrink: 0;
}
.order-details-right-section{
    flex-shrink: 1;
}
.order-products-list{
    display: grid;
    border: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px 25px;
    row-gap: 60px;
    column-gap : 45px;
    grid-template-columns: 110px 1fr 220px;
}

.your-orders{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px
}
.product-image-container, .product-image{
    max-width: 110px;
    max-height: 110px;
}
.buy-again-icon{
   height: 20px;
    width: 20px; 
}
.order{
    margin-bottom: 50px;
}
.product-name{
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 5px;
}
.arriving-date, .product-quantity{
    font-size: 15px;
    margin-bottom: 5px;
}
.but-it-again-class{
    color: rgb(33, 33, 33);
    display: flex;
    height: 36px;
    align-items: center;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
    padding-left: 10px;
    padding-right: 10px;
    
}
.buy-again-icon{
    margin-right: 15px;
}
.track-package-button{
    width: 100%;
    font-size: 15px;
    padding: 7px;
    border-radius: 7px;
    background: white;
    border: 1px solid #D5D9D9;
}

.order-placed-date-container, .order-total{
    margin-right: 50px;
}
.order-placed-text, .total-text, .order-id-text{
    font-weight: 700;
}
.return-and-order-link{
    text-decoration: none;
    color: white;
}